<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

                <div th:fragment="footer" class="container-fluid" id="footer">
                    <span class="col-sm-6 text-left">
                        Version: 1.0

                        | Logged in as: <span th:text="${loginuser}"></span>

                    </span>
                    <span class="col-sm-6 text-right">
                        <span style="color: #fff">4.0.0</span>
                        &copy; 2016 Proteome Cloud
                    </span>
                </div>            
          
</body>
</html>