<html xmlns:th="http://www.thymeleaf.org">
    <head xmlns:th="http://www.thymeleaf.org">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"></meta>
        <title>Add New Database | Proteome Cloud</title>
        <link href="../static/css/desktop.css" th:href="@{css/desktop.css}" rel="stylesheet"></link>
        <link href="../static/css/responsive.css" th:href="@{css/responsive.css}" rel="stylesheet"></link>
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}"></link>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" ></link>
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <!-- Bootstrap.js -->
        <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}" ></script>
           <link rel="icon" href="../static/images/favicon.ico" type="image/ico" > </link>


        <!-- Bootstrap.js -->
        <link rel="stylesheet" type="text/css" href="../static/css/dataTables.bootstrap.min.css" th:href="@{css/dataTables.bootstrap.min.css}"> </link>
        <script type="text/javascript"  src="../static/js/jquery.dataTables.min.js" th:src="@{js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript"  src="../static/js/dataTables.bootstrap.min.js" th:src="@{js/dataTables.bootstrap.min.js}"></script>

        <link rel="stylesheet" href="../static/css/kendo.common.min.css" th:href="@{css/kendo.common.min.css}"></link>
        <link rel="stylesheet" href="../static/css/kendo.default.min.css" th:href="@{css/kendo.default.min.css}"></link>
        <!-- <link rel="stylesheet" href="../static/css/kendo.default.mobile.min.css" th:href="@{css/kendo.default.mobile.min.css}"></link> -->
        <script src="../static/js/kendo.all.min.js" th:src="@{js/kendo.all.min.js}"></script>
        
        <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.min.css" media="screen"
        									th:href="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.min.css}"></link>
        
       <link rel="stylesheet" href="../static/css/jquery.ui.plupload.css" th:href="@{css/jquery.ui.plupload.css}"></link>
       
       <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js}"></script>
       <script type="text/javascript"  src="../static/js/plupload.full.min.js" th:src="@{js/plupload.full.min.js}"></script>
       <script type="text/javascript"  src="../static/js/jquery.ui.plupload.min.js" th:src="@{js/jquery.ui.plupload.min.js}"></script>
      
    </head>
    <body>
        <!-- Page Container -->
        <div id="page-container">
            <div th:replace="fragments/header :: header">
                <header class="navbar navbar-inverse">
                    <!-- Mobile Navigation, Shows up  on smaller screens -->
                    <ul class="navbar-nav-custom pull-right hidden-md hidden-lg">
                        <li class="divider-vertical"></li>
                        <li>
                            <!-- It is set to open and close the main navigation on smaller screens. The class .navbar-main-collapse was added to aside#page-sidebar -->
                            <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-main-collapse">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- END Mobile Navigation -->

                    <!-- Logo -->
                    <a href="index.html" class="navbar-brand header-logo-img"><img src="../static/images/logo.png" th:src="@{images/logo.png}" alt="logo" class="img-responsive"></img></a>
                    <!-- Header Widgets -->
                    <!-- You can create the widgets you want by replicating the following. Each one exists in a <li> element -->
                    <ul id="widgets" class="navbar-nav-custom pull-right">
                        <!-- Just a divider -->
                        <li class="divider-vertical"></li>
                        <!-- User Menu -->
                        <li class="dropdown pull-right dropdown-user">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <!-- Just a button demostrating how loading of widgets could happen, check main.js- - uiDemo() -->
                                <li>
                                    <a href="javascript:void(0)" class="loading-on"><i class="fa fa-refresh"></i> Refresh</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <!-- Modal div is at the bottom of the page before including javascript code #modal-user-settings -->
                                    <a href="" role="button" data-toggle="modal"><i class="fa fa-user"></i> User Profile</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="fa fa-wrench"></i> App Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="logout"><i class="fa fa-lock"></i> Log out</a>
                                </li>
                            </ul>
                        </li>
                        <!-- END User Menu -->
                    </ul>
                    <!-- END Header Widgets -->
                </header>            
                <!-- END Header -->
                <!-- Inner Container -->
                <div class="sub_header clearfix">
                    <div class="col-md-12">
                        <nav class=" navbar-default menu-default">
                            <div class="container-fluid menu-container">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="">
                                            <a title="Home" href="home.html">Home</a>
                                        </li>
                                        <li class="">
                                            <a title="Database" href="database">Database</a>
                                        </li>
                                        <li class="">
                                            <a title="Project" href="project.html">Project</a>
                                        </li>                                          
                                        <li class="">
                                            <a title="Edit Profile" href="editprofile.html">Edit Profile</a>
                                        </li>                                            
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>

            </div>
            <!-- main header html contecnt end -->
            <!-- Inner Container -->
            <div id="inner-container">
                <!-- Page Content -->
                <div id="page-content">
                    <!-- Navigation info -->

                    <!-- END Navigation info -->
                    <!-- Datatables -->
                    <div class="row">
                        <div class="col-md-12 push">
                            <div class="addnewdb">
                            	<div class="alert-danger" style="display:none;"><span>Please upload a file before proceeding.</span></div>
                                <form namespace="/" id="addDatabaseAction"
                                      name="addDatabaseAction"
                                      onsubmit="return validateForm_addDatabaseAction();"
                                      action="addDatabase" method="post"
                                      enctype="multipart/form-data" class="form-horizontal">
                                    <input type="hidden" name="upload_file_name" value="" id="upload_file_name"></input>
                                    <input type="hidden" name="file_size" value="" id="file_size"></input>
									<input type="hidden" th:value="${databaseFileFolderPath}" id="database_file_folder_path"></input>

                                    <div class="panel panel-primary">
                                        <div class="panel-heading" style="background-color: #76b3ef;">
                                            <h5 class="panel-title">Add new database</h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-sm-4 text-left text-nowrap control-label">
                                                    Source </label>
                                                <div class="col-sm-8">
                                                    <div class="col-xs-6" style="padding-left: 0px">
                                                        <select name="dbSource" id="source" class="form-control">
                                                            <option th:each="source : ${sourceList}" 
															        th:value="${source.id}" 
															        th:text="${source.sourceName}">	</option>


                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <a href="viewAddNewSource">&nbsp;Add
                                                            new database source name</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 text-left text-nowrap control-label">
                                                    Organism Name </label>
                                                <div class="col-sm-8">
                                                    <div class="col-xs-6" style="padding-left: 0px">
                                                        <select name="organism" id="organism" class="form-control">
                                                            <option th:each="organism : ${organismList}" 
															        th:value="${organism.id}" 
															        th:text="${organism.organismName}">	</option>	


                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <a href="viewAddNewOrganism">&nbsp;Add
                                                            new Organism</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 text-left text-nowrap control-label">
                                                    Release Date </label>
                                                <div class="col-sm-8">
                                                    <div class="col-xs-5" style="padding-left: 0px">
                                                        <select dojotype="struts:ComboBox"
                                                                id="addDatabaseAction_month" class="form-control"
                                                                name="month" keyname="monthKey" initialvalue="0">
                                                            <option value="1">January</option>
                                                            <option value="2">February</option>
                                                            <option value="3">March</option>
                                                            <option value="4">April</option>
                                                            <option value="5">May</option>
                                                            <option value="6">June</option>
                                                            <option value="7">July</option>
                                                            <option value="8">August</option>
                                                            <option value="9">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-3" style="padding-left: 0px">
                                                        <select dojotype="struts:ComboBox"
                                                                id="addDatabaseAction_date" class="form-control"
                                                                name="date" keyname="dateKey" initialvalue="0">
                                                            <option value="01">01</option>
                                                            <option value="02">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-4" style="padding-left: 0px">
                                                        <select dojotype="struts:ComboBox"
                                                                id="addDatabaseAction_year" class="form-control"
                                                                name="year" keyname="yearKey" initialvalue="0">
                                                            <option value="2016">2016</option>
                                                            <option value="2015">2015</option>
                                                            <option value="2014">2014</option>
                                                            <option value="2013">2013</option>
                                                            <option value="2012">2012</option>
                                                            <option value="2011">2011</option>
                                                            <option value="2010">2010</option>
                                                            <option value="2009">2009</option>
                                                            <option value="2008">2008</option>
                                                            <option value="2007">2007</option>
                                                            <option value="2006">2006</option>
                                                            <option value="2005">2005</option>
                                                            <option value="2004">2004</option>
                                                            <option value="2003">2003</option>
                                                            <option value="2002">2002</option>
                                                            <option value="2001">2001</option>
                                                            <option value="2000">2000</option>
                                                            <option value="1999">1999</option>
                                                            <option value="1998">1998</option>
                                                            <option value="1997">1997</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 text-left text-nowrap control-label">
                                                    Version </label>
                                                <div class="col-sm-8">
                                                    <div id="wwgrp_addDatabaseAction_version" class="wwgrp">
                                                        <div id="wwctrl_addDatabaseAction_version" class="wwctrl">
                                                            <textarea name="version" cols="50" rows="5"
                                                                      id="addDatabaseAction_version" class="form-control"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 text-left text-nowrap control-label">
                                                    Description </label>
                                                <div class="col-sm-8">
                                                    <div id="wwgrp_addDatabaseAction_desc" class="wwgrp">
                                                        <div id="wwctrl_addDatabaseAction_desc" class="wwctrl">
                                                            <textarea name="desc" cols="50" rows="5"
                                                                      id="addDatabaseAction_desc" class="form-control"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 text-left text-nowrap control-label">
                                                    File name </label>
                                                <div class="col-sm-8">
                                                    <font color="black">Note. make sure database fasta
                                                    file name does not contain special characters including
                                                    white space</font>
                                                    <div id="uploader" style="position: relative;">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit"
                                                                               value="&nbsp;&nbsp;Submit" class="btn btn-primary"
                                                                               style="background-color: #76b3ef;"
                                                                               ></input> &nbsp;<input
                                                                               type="button" value="Cancel" onclick="history.back()"
                                                                               class="btn btn-default"></input>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                    <!-- END Datatables in the grid -->
                </div>
                <!-- END Page Content -->
                <!-- Footer -->
                <div class="container-fluid" id="footer"  th:replace="fragments/footer :: footer">
                   <span class="col-sm-6 text-left">
                        Version: 4.0

                        | Logged in as: Proteome Cloud

                    </span>
                    <span class="col-sm-6 text-right">
                        <span style="color: #fff">4.0.0</span>
                        &copy; 2016 Proteome Cloud
                    </span>
                </div>            
                <!-- END Footer -->
            </div>
            <!-- END Inner Container -->
        </div>
        <!-- END Page Container -->
        <!-- Javascript code only for this page -->

        <script>
        	var isFileAdded = false;
        	
        	 function validateForm_addDatabaseAction() {
        		if(!isFileAdded){
        			$(".alert-danger").show();
        			return false;
        		}
				
             }
        	
            $(function () {
            	var uploader = $("#uploader").plupload({
                    // General settings
                    runtimes : 'html5,flash,silverlight,html4',
                    url : "/fileUpload/upload",
             
                    // Maximum file size
                    max_file_size : 0,
             
                    chunk_size: '1mb',
             
                    // Resize images on clientside if we can
                    resize : {
                        width : 200,
                        height : 200,
                        quality : 90,
                        crop: true // crop to exact dimensions
                    },
             
                    // Specify what files to browse for
                    filters : [
                        {title : "Protein files", extensions : "fasta,FASTA, Fasta"},
                    ],
             
                    // Rename files by clicking on their titles
                    rename: true,
                     
                    // Sort files
                    sortable: true,
             
                    // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
                    dragdrop: true,
             
                    // Views to activate
                    views: {
                        list: true,
                        thumbs: true, // Show thumbs
                        active: 'thumbs'
                    },
             
                    // Flash settings
                    flash_swf_url : '@{js/Moxie.swf}',
                 
                    // Silverlight settings
                    silverlight_xap_url : '@{js/Moxie.xap}',
                    buttons:{browse:true,start:false,stop:false},
                    init : {
                    	BeforeUpload: function(up, file) {
                    		up.settings.multipart_params = {
                   	            filename: file.name,
                   	         	foldername: $("#database_file_folder_path").val()
                   	        };
                    	},
                    	FileUploaded: function(up, file, info) {
                            // Called when file has finished uploading
                            //console.log('[FileUploaded] File:', file, "Info:", info);
                            if(info.status === 200){
                            	var fileName = file.name;
                                $("#upload_file_name").val(fileName);
                                var fileSize = file.size/1024;
                                $("#file_size").val(fileSize)
                            }
                            
                        },
                        FilesAdded: function(up, files){
                        	if(files.length === 1){
                        		up.start();
                        		$("#uploader").plupload('disable');
                        		isFileAdded = true;
                        		$(".alert-danger").hide();
                        	}
                        },
                        FilesRemoved: function(up, files) {
                        	if(files.length === 1){
                        		$("#uploader").plupload('enable');
                        		isFileAdded = false;
                        	}
                        },
                    }
                });

            });
        </script>
    </body>
</html>