<!DOCTYPE html>
<!-- main header html contecnt start -->
<html class="no-js">
    <head xmlns:th="http://www.thymeleaf.org">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"></meta>
        <title>Edit Profile | Proteome Cloud</title>
        <link href="css/desktop.css" th:href="@{css/desktop.css}" rel="stylesheet"></link>
        <link href="css/responsive.css" th:href="@{css/responsive.css}" rel="stylesheet"></link>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}"></link>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" ></link>
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <!-- Bootstrap.js -->
        <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}" ></script>
           <link rel="icon" href="../static/images/favicon.ico" type="image/ico" > </link>


        <!-- Bootstrap.js -->	
        <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.min.css"> </link>
        <script type="text/javascript"  src="js/jquery.dataTables.min.js"></script>
        <script type="text/javascript"  src="js/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript">
		
		$(document).on("submit", "form", function (e) {
		    if($("#password").val()!=$("#cpassword").val()){
		    	alert("Password did not match}"); 
		    	return false;
		    }else
		    return true;
		})
		</script>
    </head>
    <body>
        <!-- Page Container -->
        <div id="page-container">

            <div th:replace="fragments/header :: header"> </div>
            <!-- main header html contecnt end -->
            <!-- Inner Container -->
            <div id="inner-container">
                <!-- Page Content -->
                <div id="page-content">
                    <div class="row">
                        <div class="col-md-12 push">
                            <div id="main">           
                                <div class="panel panel-primary edit-profile">
                                    <div class="panel-heading"><h5 class="panel-title">User Profile</h5></div>
                                    <form id="login-form" action="#" th:action="@{/profile}" th:object="${userForm}" method="post" class="form-horizontal login-form">
                                    <input type="hidden" th:field="*{user_id}" class="form-control"></input> 
                                    <div class="panel-body">
                                        <div class="">                     
                                            <div class="row form-seprate">                                                                      
                                                <div class="col-md-12">
                                                    <!-- ngRepeat: info in recipeData.localeSpecificData| filter:{locale:localeVal} -->
                                                    <div class="form-group ">
                                                        <label>Username</label>
                                                        <input disabled="disabled" th:field="*{username}" type="text" class="form-control"></input> 
                                                    </div>
                                                </div>                                               
                                            </div>
                                            <div class="row form-seprate">                                                                       
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input th:field="*{password}" id="password" type="password" class="form-control" ></input> 
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Confirm  Password</label>
                                                        <input type="password" id="cpassword" class="form-control"></input> 
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row form-seprate">                                                                      
                                                <div class="col-md-12">
                                                    <!-- ngRepeat: info in recipeData.localeSpecificData| filter:{locale:localeVal} -->
                                                    <div class="form-group ">
                                                        <label>Password Hint</label>
                                                        <input th:field="*{passwordHint}" type="text" class="form-control" name="" placeholder="Password Hint" required="required"></input>                                                     
                                                    </div>
                                                </div>                                               
                                            </div>
                                            <div class="row form-seprate">                                                                       
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                        <input th:field="*{firstName}" type="text" class="form-control" name="" placeholder="First Name" required="required"></input>   
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>last Name</label>
                                                        <input th:field="*{lastName}" type="text" name="" class="form-control"  placeholder="last Name" required="required"></input> 
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row form-seprate">                                                                       
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input th:field="*{email}" type="text" class="form-control" name="" placeholder="Email" required="required"></input> 
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Phone Number</label>
                                                        <input th:field="*{mobile}" type="text" name="" class="form-control"  placeholder="Phone Number" required="required"></input> 
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row form-seprate">                                                                      
                                                <div class="col-md-12">
                                                    <!-- ngRepeat: info in recipeData.localeSpecificData| filter:{locale:localeVal} -->
                                                    <div class="form-group ">
                                                        <label>Website</label>
                                                        <input th:field="*{website}" type="text" class="form-control" name="" placeholder="Website" required="required">  </input>                                                   </div>
                                                </div>                                               
                                            </div>
                                            <div class="row form-seprate">                                                                      
                                                <div class="col-md-12">
                                                    <!-- ngRepeat: info in recipeData.localeSpecificData| filter:{locale:localeVal} -->
                                                    <div class="form-group ">
                                                        <label>Address</label>
                                                        <textarea th:field="*{address}" class="form-control"  placeholder="Website" required="required"></textarea> 
                                                    </div>
                                                </div>                                               
                                            </div>
                                            <!-- <div class="row form-seprate">                                                                       
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>City</label>
                                                        <input th:field="*{city}" type="text" class="form-control" name="" placeholder="Enter City Name" required="required"></input> 
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>province</label>
                                                        <input th:field="*{username}" type="text" name="" class="form-control"  placeholder="Enter Province" required="required"></input> 
                                                    </div>
                                                </div>

                                            </div> -->
                                            <!-- <div class="row form-seprate">                                                                       
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>postalCode</label>
                                                        <input type="text" class="form-control" name="" placeholder="Enter City Name" required="required"></input> 
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <select class="form-control">
                                                            <option selected="selected" value=""></option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AR">Argentina</option>
                                                            <option value="AU">Australia</option>
                                                            <option value="AT">Austria</option>
                                                            <option value="BH">Bahrain</option>
                                                            <option value="BY">Belarus</option>
                                                            <option value="BE">Belgium</option>
                                                            <option value="BO">Bolivia</option>
                                                            <option value="BA">Bosnia and Herzegovina</option>
                                                            <option value="BR">Brazil</option>
                                                            <option value="BG">Bulgaria</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="CL">Chile</option>
                                                            <option value="CN">China</option>
                                                            <option value="CO">Colombia</option>
                                                            <option value="CR">Costa Rica</option>
                                                            <option value="HR">Croatia</option>
                                                            <option value="CY">Cyprus</option>
                                                            <option value="CZ">Czech Republic</option>
                                                            <option value="DK">Denmark</option>
                                                            <option value="DO">Dominican Republic</option>
                                                            <option value="EC">Ecuador</option>
                                                            <option value="EG">Egypt</option>
                                                            <option value="SV">El Salvador</option>
                                                            <option value="EE">Estonia</option>
                                                            <option value="FI">Finland</option>
                                                            <option value="FR">France</option>
                                                            <option value="DE">Germany</option>
                                                            <option value="GR">Greece</option>
                                                            <option value="GT">Guatemala</option>
                                                            <option value="HN">Honduras</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="HU">Hungary</option>
                                                            <option value="IS">Iceland</option>
                                                            <option value="IN">India</option>
                                                            <option value="ID">Indonesia</option>
                                                            <option value="IQ">Iraq</option>
                                                            <option value="IE">Ireland</option>
                                                            <option value="IL">Israel</option>
                                                            <option value="IT">Italy</option>
                                                            <option value="JP">Japan</option>
                                                            <option value="JO">Jordan</option>
                                                            <option value="KW">Kuwait</option>
                                                            <option value="LV">Latvia</option>
                                                            <option value="LB">Lebanon</option>
                                                            <option value="LY">Libya</option>
                                                            <option value="LT">Lithuania</option>
                                                            <option value="LU">Luxembourg</option>
                                                            <option value="MK">Macedonia</option>
                                                            <option value="MY">Malaysia</option>
                                                            <option value="MT">Malta</option>
                                                            <option value="MX">Mexico</option>
                                                            <option value="ME">Montenegro</option>
                                                            <option value="MA">Morocco</option>
                                                            <option value="NL">Netherlands</option>
                                                            <option value="NZ">New Zealand</option>
                                                            <option value="NI">Nicaragua</option>
                                                            <option value="NO">Norway</option>
                                                            <option value="OM">Oman</option>
                                                            <option value="PA">Panama</option>
                                                            <option value="PY">Paraguay</option>
                                                            <option value="PE">Peru</option>
                                                            <option value="PH">Philippines</option>
                                                            <option value="PL">Poland</option>
                                                            <option value="PT">Portugal</option>
                                                            <option value="PR">Puerto Rico</option>
                                                            <option value="QA">Qatar</option>
                                                            <option value="RO">Romania</option>
                                                            <option value="RU">Russia</option>
                                                            <option value="SA">Saudi Arabia</option>
                                                            <option value="RS">Serbia</option>
                                                            <option value="CS">Serbia and Montenegro</option>
                                                            <option value="SG">Singapore</option>
                                                            <option value="SK">Slovakia</option>
                                                            <option value="SI">Slovenia</option>
                                                            <option value="ZA">South Africa</option>
                                                            <option value="KR">South Korea</option>
                                                            <option value="ES">Spain</option>
                                                            <option value="SD">Sudan</option>
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                                                            <option value="SY">Syria</option>
                                                            <option value="TW">Taiwan</option>
                                                            <option value="TH">Thailand</option>
                                                            <option value="TN">Tunisia</option>
                                                            <option value="TR">Turkey</option>
                                                            <option value="UA">Ukraine</option>
                                                            <option value="AE">United Arab Emirates</option>
                                                            <option value="GB">United Kingdom</option>
                                                            <option value="US">United States</option>
                                                            <option value="UY">Uruguay</option>
                                                            <option value="VE">Venezuela</option>
                                                            <option value="VN">Vietnam</option>
                                                            <option value="YE">Yemen</option>

                                                        </select>
                                                    </div>
                                                </div>

                                            </div> -->

                                        </div>
                                        <div class="edit-btn">
                                     
                                                <button type="submit" class="btn btn-success">Update</button>
                                                <button type="button" class="btn btn-default"> cancel</button>
                                                
                                            
                                        </div>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="container-fluid" id="footer" th:replace="fragments/footer :: footer">
                <span class="col-sm-6 text-left">
                        Version: 4.0

                        | Logged in as: Proteome Cloud

                    </span>
                    <span class="col-sm-6 text-right">
                        <span style="color: #fff">4.0.0</span>
                        &copy; 2016 Proteome Cloud
                    </span>
                </div>
            </div> 
       
    </body>
</html>