<html xmlns:th="http://www.thymeleaf.org">
    <head xmlns:th="http://www.thymeleaf.org">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"></meta>
        <title>Project | Proteome Cloud</title>
        <link href="../static/css/desktop.css" th:href="@{css/desktop.css}" rel="stylesheet"></link>
        <link href="../static/css/responsive.css" th:href="@{css/responsive.css}" rel="stylesheet"></link>
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}"></link>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" ></link>
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <!-- Bootstrap.js -->
        <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}" ></script>
        <link rel="icon" href="../static/images/favicon.ico" type="image/ico" > </link>


        <!-- Bootstrap.js -->
        <link rel="stylesheet" type="text/css" href="../static/css/dataTables.bootstrap.min.css" th:src="@{css/dataTables.bootstrap.min.css}"> </link>
        <script type="text/javascript"  src="../static/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript"  src="../static/js/dataTables.bootstrap.min.js"></script>

    </head>
    <body>
        <!-- Page Container -->
        <div id="page-container">

            <header class="navbar navbar-inverse">
                <!-- Mobile Navigation, Shows up  on smaller screens -->
                <ul class="navbar-nav-custom pull-right hidden-md hidden-lg">
                    <li class="divider-vertical"></li>
                    <li>
                        <!-- It is set to open and close the main navigation on smaller screens. The class .navbar-main-collapse was added to aside#page-sidebar -->
                        <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <!-- END Mobile Navigation -->

                <!-- Logo -->
                <a href="index.html" class="navbar-brand header-logo-img"><img src="../static/images/logo.png" th:src="@{images/logo.png}" alt="logo" class="img-responsive"></img></a>
                <!-- Header Widgets -->
                <!-- You can create the widgets you want by replicating the following. Each one exists in a <li> element -->
                <ul id="widgets" class="navbar-nav-custom pull-right">
                    <!-- Just a divider -->
                    <li class="divider-vertical"></li>
                    <!-- User Menu -->
                    <li class="dropdown pull-right dropdown-user">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- Just a button demostrating how loading of widgets could happen, check main.js- - uiDemo() -->
                            <li>
                                <a href="javascript:void(0)" class="loading-on"><i class="fa fa-refresh"></i> Refresh</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <!-- Modal div is at the bottom of the page before including javascript code #modal-user-settings -->
                                <a href="" role="button" data-toggle="modal"><i class="fa fa-user"></i> User Profile</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fa fa-wrench"></i> App Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="logout"><i class="fa fa-lock"></i> Log out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END User Menu -->
                </ul>
                <!-- END Header Widgets -->
            </header>            
            <!-- END Header -->
            <!-- Inner Container -->
            <div class="sub_header clearfix">
                <div class="col-md-12">
                    <nav class=" navbar-default menu-default">
                        <div class="container-fluid menu-container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="">
                                        <a title="Home" href="home.html">Home</a>
                                    </li>
                                    <li class="">
                                        <a title="Database" href="database">Database</a>
                                    </li>
                                    <li class="">
                                        <a title="Project" href="project.html">Project</a>
                                    </li>                                          
                                    <li class="">
                                        <a title="Edit Profile" href="editprofile.html">Edit Profile</a>
                                    </li>                                            
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
            <!-- main header html contecnt end -->
            <!-- Inner Container -->
            <div id="inner-container">
                <!-- Page Content -->
                <div id="page-content">
                    <div class="row">
                        <div class="col-md-12 push">
                            <div id="main" class="project-page">  
                                <div class="container-fluid">                                   
                                    <nav class="navbar navbar-default">

                                        <div class="navbar-header">

                                            <ul class="nav navbar-nav">
                                                <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add
                                                        Experiment</a></li>
                                                <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Batch
                                                        Search</a></li>
                                                <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;ID&copy;COMPARE</a></li>
                                                <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;ID_STAT&copy;COMPARE</a></li>
                                                <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Quantitative&copy;COMPARE</a></li>
                                                <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Quantitative
                                                        &copy;REGRESSION</a></li>
                                                <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Label
                                                        free analysis</a></li>
                                                <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Raw Files</a></li>
                                                <li class="dropdwon">
                                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"> More <span class="caret"></span>
                                                    </a>
                                                    <ul role="menu" class="dropdown-menu">
                                                        <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Batch
                                                                upload</a></li>
                                                        
                                                        <li class="divider" ></li>
                                                        <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Search
                                                                protein</a></li>
                                                        <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Search
                                                                param overview</a></li>

                                                        <li class="divider" ></li>
                                                        <li ><a href="" role="menuitem"><span aria-hidden="true" class="glyphicon glyphicon-level-up"></span>&nbsp;&nbsp;Move
                                                                experiments to another project</a></li>

                                                    </ul>
                                                </li>

                                            </ul></div>

                                    </nav>
                                </div>
                             
                                <table class="table table-hover table-bordered">
                                         <h4 >Active Experiments</h4>
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Experiment</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>Share</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td><a href="viewproject.html">View Project</a></td>
                                            <td><a href="editproject.html"><i class="fa fa-pencil"></i></a></td>
                                            <td><a href=""><i class="fa fa-trash"></i></a></td>
                                            <td><a href=""><i class="fa fa-share"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td><a href="viewproject.html">View Project</a></td>
                                            <td><a href="editproject.html"><i class="fa fa-pencil"></i></a></td>
                                            <td><a href=""><i class="fa fa-trash"></i></a></td>
                                            <td><a href=""><i class="fa fa-share"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-hover table-bordered">
                                    <h4>Archive Experiments</h4>
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </body>
</html>    